@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Green/Grey logic for Calendar */
.day-present {
  @apply bg-green-200 text-green-900 font-bold;
}
.day-absent {
  @apply bg-gray-100 text-gray-400;
}
